name: CI

on:
  push:
    branches: [ develop, master ]
  pull_request:
    branches: [ develop ]

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    name: Test & SonarCloud
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven


      - name: Build & Test (verify)
        run: mvn -B clean verify


      - name: Generate JaCoCo XML report
        run: mvn -B jacoco:report


      - name: SonarCloud analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: >
          mvn -B sonar:sonar
          -Dsonar.projectKey=NINGCHANGLIU_iwvg-devops-liu-ningchang
          -Dsonar.organization=ningchangliu
          -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
